@tailwind base;
@tailwind components;
@tailwind utilities;

.w-44 {
  width: 44%;
}

.w-30 {
  width: 30%;
}

.w-17 {
  width: 17.5rem;
}

.w-22 {
  width: 22rem;
}

.h-screen-60 {
  height: 60vh;
}

.bg-primary {
  background-color: #1da1f2;
}

.text-primary {
  color: #1da1f2;
}

.primary-color:hover {
  color: #1da1f2;
}

.fill-red {
  fill: #e0245e;
}

.fill-green {
  fill: #17bf63;
}

.fill-yellow {
  fill: #fbbf24;
}

.fill-repost-gray {
  fill: #536471;
}

.gray-text {
  color: #536471;
}

.red-color:hover {
  color: #e0245e;
}

.green-color:hover {
  color: #17bf63;
}

.blue-color:hover {
  color: #1b95e0;
}

.yellow-color:hover {
  color: #fde68a;
}

.like-svg:hover {
  fill: #e0245e;
}

.repost-svg:hover {
  fill: #17bf63;
}

.reply-svg:hover {
  fill: #1b95e0;
}

.bookmark-svg:hover {
  fill: #fbbf24;
}

.nav-svg:hover {
  fill: #1da1f2;
}

.fill-primary-color {
  fill: #1da1f2;
}

.bg-extra-light-gray {
  background-color: #f5f8fa;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

.fill-delete-svg {
  fill: #f4212e;
}

.text-delete {
  color: #f4212e;
}

.bg-delete {
  background-color: #f4212e;
}
